*.swp
*.swo
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
/bin/apngasm
/lib/libapngasm.so
/lib/libapngasm-static.a
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages
*.deb
install_manifest.txt
src/apngasm-version.h
spec/*.png
spec/*/
.DS_Store
apngasm-3.0.0.dmg
install_manifest_ApplicationData.txt
install_manifest_Libraries.txt
lib/libapngasm.dylib
src/version.h
