*.swp
*.swo
test/*.png
test/test/
.DS_Store
install_manifest_ApplicationData.txt
install_manifest_Libraries.txt
build/
projects/vs2010/*/
projects/vs2010/*.suo
projects/vs2010/*.sdf
projects/vs2010/*.opensdf
debian/apngasm.debhelper.log
debian/apngasm.substvars
debian/apngasm/
debian/libapngasm.debhelper.log
debian/libapngasm.substvars
debian/rules-orig
debian/stamp-makefile-build
debian/stamp-makefile-install
debian/tmp/
obj-x86_64-linux-gnu/
debian/files
debian/libapngasm/
