Source: apngasm
Section: devel
Priority: optional
Maintainer: Rei Kagetsuki <zero@genshin.org>
Build-Depends: cmake, build-essential, libpng-dev, libboost-program-options-dev, libboost-regex-dev, libboost-system-dev, libboost-filesystem-dev
Homepage: https://github.com/apngasm/apngasm

Package: apngasm
Architecture: any
Depends: libc6 (>= 2.14), libpng12-0 (>= 1.2.13-4), zlib1g (>= 1:1.1.4)
Description: apngasm APNG Assembler library, headers and standalone CLI
 This package includes the apngasm assembler and dis-assembler, complete with
 library, headers and standalone command for assembling, disassembling and
 editing Animated PNG files.
