#!/usr/bin/make -f

BUILDDIR = build

# secondly called by launchpad
build:
	mkdir $(BUILDDIR);
	cd $(BUILDDIR); cmake ..
	make -C $(BUILDDIR)

# thirdly called by launchpad
binary: binary-indep binary-arch

binary-indep:
	# nothing to be done

binary-arch:
	cd $(BUILDDIR);	make package

# firstly called by launchpad
clean:
	rm -rf build

.PHONY: binary binary-arch binary-indep clean
